$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: white;
$color-light-gray: #F6F6F6;
$color-black-gray: #353535;
$color-gray2: #7E7E7E;
$font-roboto: 'Roboto', sans-serif;
$font-Shrikland: 'Shrikhand', sans-serif;

// Mixin

@mixin flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin border-none {
    border: none;
}

@mixin padding-right-left-25px {
    padding-left: 25px;
    padding-right: 25px;
}

@mixin bnt-explorer {
    padding: 13px;
    border-radius: 35px;
    font-size: 15px;
    color: $color-white;
    border: transparent;
    @include box-shadow();
    background: linear-gradient(-6deg, $color-primary, $color-secondary );
}

@mixin box-shadow {
    box-shadow: 0px 4px 10px rgb(196 184 184);
}

@mixin margin-top-0px {
    margin-top: 0px;
}

@mixin proj-nav-h2 {
    font-family: $font-roboto;
    font-size: 20px;
}

@mixin bnt__nav {
    display: flex;
    border: 2px solid $color-light-gray;
    border-radius: 21px;
    padding: 19px;
    align-items: center;
    text-decoration: none;
    background-color: $color-light-gray;
    margin-top: 20px;
    @include box-shadow();
}

@mixin display-flex {
    display: flex;
}

@mixin width-heigh-100 {
    width: 100%;
    height: 100%;
}

@mixin bnt-circle{
    border-radius: 50%;
    position: relative;
    line-height: 0;
    background-color: $color-primary;
}

// paramètre général

* {
    box-sizing: border-box;
}

// class padding

.padding15px {
    padding: 0px;
    margin: 0px;

    @media (max-width: 899px) {
        padding: 15px;
        margin: 0px;
    }
}

// CSS 

body {
    margin: 0px;
    padding: 0px
}

.proj-header {
    @include flex-between();
    background-color: white;
    box-shadow: 0 5.5px 7px 0.5px rgba(109, 106, 106, 0.55);

    padding: 25px;

    @media (max-width: 899px) {
        @include flex-column();
        background-color: $color-white;
        padding: 0px;
    }

    .proj-header__img {
        width: 60%;

        @media (max-width: 899px) {
            width: 60%;
            background-color: transparent;
            align-items: center;
            margin-left: 70px;
        }
    }
}

.proj-header__bnt-icone {
    width: 100%;
    text-align: right;

    @media (max-width: 899px) {
        width: 100%;
        background-color: #EAEAEA;
        text-align: center;
        margin-top: 4px;
    }
}

.proj-header__icon {
    padding-left: 15px;
    color: $color-black-gray;
}


.proj-header__input {
    padding: 15px;
    @include border-none();
    background-color: white;

    @media (max-width: 899px) {
        @include border-none();
        background-color: transparent;
        color: $color-black-gray;
    }
}


.proj-font {
    @include padding-right-left-25px();
    background-color: $color-light-gray;
    margin-top: 4px;
    padding-bottom: 25px;

    @media (max-width: 899px) {
        width: 100%;
        @include flex-column();
        background-color: $color-light-gray;
        margin: 0px;
    }
}

.proj-font__title {
    font-family: $font-roboto;
    font-size: 27px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-top: 15px;

    @media (max-width: 899px) {
        font-weight: bold;
        font-size: 22px;
        font-family: $font-roboto;
        text-align: center;

    }

    &--p {
        font-size: 19px;
        font-family: $font-roboto;
        @include margin-top-0px();

        @media (max-width: 899px) {
            font-size: 19px;
            font-family: $font-roboto;
            @include margin-top-0px();
            text-align: center;
        }

    }
}

.proj-font__bnt {
    @include bnt-explorer();
    margin-bottom: 15px;

    @media (max-width: 899px) {
        @include bnt-explorer()
    }
}

// partie navigation 

.proj-nav {
    margin: 25px;

    @media (max-width: 899px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.proj-nav__h2 {
    @include proj-nav-h2();
    margin-left: 20px;

    @media (max-width: 899px) {
        @include proj-nav-h2();
    }
}



.proj-nav__bnt {
    width: 33%;
    @include bnt__nav();
    margin-right: 60px;
    margin-bottom: 0px;

    @media (max-width: 899px) {
        width: 92%;
        @include bnt__nav();
        margin-bottom: 20px;
        @include box-shadow();
    }

}

.proj-nav__bnt--circle {
    @include bnt-circle();
    width: 29px;
    height: 29px;
    min-width: 29px;
    min-height: 29px;
    right: 35px;

    @media (max-width: 899px) {
        @include bnt-circle();
        width: 20px;
        height: 20px;
        max-width: 20px;
        max-height: 20px;
        right: 30px;
    }

    .proj-nav__bnt--p {
        position: absolute;
        width: 100%;
        text-align: center;
        color: $color-white;
        font-size: 15px;
        font-family: $font-roboto;

    }

}

.proj-nav__bnt--icon {
    color: $color-gray2;
    position: relative;
    right: 17px;
}

.proj-nav__bnt--config {
    @include border-none();
    background-color: transparent;
    font-weight: bold;
    font-family: $font-roboto;
    font-size: 16px
}

.proj-nav__bnt--flex {
    @include display-flex();
    justify-content: flex-start;
    flex-direction: inherit;
    align-items: initial;
    margin-left: 25px;

    @media (max-width: 899px) {
        @include display-flex();
        flex-direction: column;
    }
}

// restaurant

.proj-section {
    font-family: $font-roboto;
    background-color: $color-light-gray;

    .proj-section-margin {
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 45px;
        padding-top: 25px;
        padding-bottom: 35px;
    }
}

.proj-section__card--flex {
    display: flex;

    @media (max-width: 899px) {
        display: block;
    }

}

.proj-section__card {
    width: 84%;
    height: 290px;
    background-color: $color-white;
    border-radius: 30px;
    margin-bottom: 35px;
    @include box-shadow();

    @media (max-width: 899px) {
        width: 100%;
        height: 254px;
        background-color: $color-white;
    }

}

.proj-section__card--img {
    width: 100%;
    height: 190px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

.proj-section__card--img--config {
    width: 100%;
    position: relative;
    color: #008766;
}

.proj-header__img--color {
    background-color: white;
    width: 100%;
    align-items: center;

    @media (max-width: 899px) {
        box-shadow: 0 5.5px 7px 0.5px rgba(109, 106, 106, 0.55);
    }
}

.proj-section__card--p {
    width: 35%;
    height: 12%;
    max-width: 70px;
    background-color: #99E2D0;
    position: absolute;
    top: 24%;
    left: 80%;
    transform: translate(-50%, -50%);
    margin: 0px;
    @media (max-width: 899px) {
        top: 24%;
        left: 89%;
        margin: 0px;
    }

}


.proj-section__card--config {
    text-decoration: none;
    width: 100%;
}


.proj-section__card--p-margin {
    margin: 0px;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 4px;
    font-size: 14px;

}

.proj-section-card__p--icon {
    @include flex-between();
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}

.proj--section-card__p--title--resto {
    margin: 0px;
    padding-bottom: 5px;
    color: black;
    font-weight: bolder
}

.proj-section-card__p--description {
    margin: 0px;
    color: black;
}


.fa-heart {
    font-size: 30px;
}

// Footer


.proj-footer {
    background-color: #353535;
    color: $color-white;
    padding-top: 25px;
    padding-left: 25px;

    .proj--footer--p__title {
        color: $color-white;
        font-family: $font-Shrikland;
        font-size: 20px;
        margin: 0px;
    }
}

.proj-footer--flex {
    @include display-flex();
    align-items: center;
}

.proj-footer--p__margin {
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 0px;
}

.fa-utensils {
    padding-right: 19px;
    font-size: 15px;
}

.fa-handshake {
    padding-right: 13px;
    transform: rotate(45deg);
    font-size: 15px;
}

 