
.fa-heart {
    font-size: 25px;
    color: black;
}

.icon-heart:hover .fa-regular,
.icon-heart .fa-solid {
    display: none;
}

.icon-heart:hover .fa-solid {
    display: initial;
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}